/* Footer */
.footer_main {
    width: 100%;
    height: 230px;
    background: #E0E2DF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.footer_content {
    margin: auto;
    width: 1200px;
    height: 250px;
    display: flex;
    justify-content: space-around;
    padding: 30px 50px 20px 50px;
}

.footer_text {
    cursor: pointer;
}

.footer_text li {
    list-style: none;
    margin-top: 15px;
}

.footer_text li a {
    text-decoration: none;
    color: black;
}

.footer_text .address, .face, .phone, .email {
    margin-right: 10px;
}

.footer_copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    background-color: #E0E2DF;
}

/*End Footer */