.nav_bar {
    box-shadow: 0px 0px 5px #cacaca;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: white;
}

.nav_bar img {
    width: 112px;
    height: 100px;
    margin-left: 50px;
}

.nav_bar ul {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0px !important;
}

.nav_bar ul li {
    list-style: none;
    transition: all 0.3s;
}


.nav_bar ul li a {
    text-decoration: none;
    color: black;
    transition: all 0.3s;
}

.nav_bar ul li a:hover {
    color: #82AE46;
}

.search{
    position: relative;
}

.search input {
    outline: none;
    width: 360px;
    height: 35px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #E0E2DF;
}

.search #search_icon {
    position: absolute;
    top: -1.5px;
    right: -0.5%;
    cursor: pointer;
    padding: 7px 12px 7px 10px;
}

.icon {
    margin-right: 50px;
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.icon a .bi {
    color: black;
}

.icon .bi {
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s;
}

.icon #user::before{
    position: relative;
}

.icon #user span{
    white-space: nowrap;
    position: absolute;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    width: 50px ;

}
.icon .bi:hover {
    color: #82AE46;
}


.list_icon {
    display: none;
    font-size: 40px;
    margin-right: 50px;
    cursor: pointer;
}

.nav_login{
    opacity: 0;
}

.dropdown{
    position: relative;
}

.drop_actice{
    opacity: 1 !important;
    z-index: 999;
}

.drop_menu{
    position: absolute;
    width: 98px;
    left: -35px;
    background-color: white;
    padding: 10px;
    opacity: 0;
    transition: all .3s ease;
    z-index: 999;
}

.drop_menu li{
    list-style: none;
    margin-top: 5px;
}

.drop_menu li a{
    color: black;
    text-decoration: none;
}
/* End Header */