<body class="bg-gradient-primary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="admin__login">
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                </div>
                                <form class="user" action="" method="post" autocomplete="off">
                                    {{#if message}}
                                    <div class="err">
                                        {{message}}
                                    </div>
                                    {{/if}}
                                    <div class="form-group">
                                        <input name="username" id="username" type="text"
                                            class="form-control form-control-user" placeholder="Tên đăng nhập ">
                                    </div>
                                    <div class="form-group">
                                        <input name="password" id="password" type="password"
                                            class="form-control form-control-user" placeholder="Mật khẩu">
                                    </div>
                                    <button type="submit" name="submit" class="btn btn-primary btn-user btn-block">
                                        Login </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="jquery/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="js/admin.js"></script>
</body>