<!-- Contact_Us -->
    <div class="contactUs">
        <div class="contact_img"></div>
        <div class="contact_text">
            <h1>CONTACT US</h1>
            <p>HOME CONTATC US</p>
        </div>

        <div class="box">
            <div class="contact from">
                <h5>Gửi tin nhắn</h5>
                <form class="from_register_contact" method="POST" role="form" autocomplete="off">
                    <div class="formBox">
                        <div class="row50">
                            <div class="inputBox">
                                <span>Họ</span>
                                <input type="text" placeholder="First Name" name="contact_firstname">
                                <div class="has_error">
                                    <span></span>
                                </div>
                            </div>
                            <div class="inputBox">
                                <span>Tên</span>
                                <input type="text" placeholder="Last Name" name="contact_lastname">
                                <div class="has_error">
                                    <span></span>
                                </div>
                            </div>
                        </div>

                        <div class="row50">
                            <div class="inputBox">
                                <span>SĐT</span>
                                <input type="text" placeholder="Number...." name="contact_phone">
                                <div class="has_error">
                                    <span></span>
                                </div>
                            </div>
                            <div class="inputBox">
                                <span>Email</span>
                                <input type="text" placeholder="Email" name="contact_email">
                                <div class="has_error">
                                    <span></span>
                                </div>
                            </div>
                        </div>

                        <div class="row100">
                            <div class="inputBox">
                                <span>Nội dung</span>
                                <textarea placeholder="Write your message here..." name="contact_content"></textarea>
                                <div class="has_error">
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        <div class="row100">
                            <div class="inputBox">
                                <input type="submit" value="Gửi">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="contact info">
                <h5>Địa chỉ liên lạc</h5>
                <div class="infoBox">
                    <div>
                        <span><i class="bi bi-geo-alt-fill"></i></span>
                        <p>18 Tam Trinh</p>
                    </div>
                    <div>
                        <span><i class="bi bi-envelope-fill"></i></span>
                        <a href="#">dangxuantien123@gmail.com</a>
                    </div>
                    <div>
                        <span><i class="bi bi-telephone-fill"></i></span>
                        <a href="#">0123456671</a>
                    </div>
                    <!-- Social Media Links -->
                    <ul class="sci">
                        <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                        <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                        <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
                        <li><a href="#"><i class="bi bi-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="contact map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14900.979644331761!2d105.85459852673085!3d20.982817576370753!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ac3d5908f79d%3A0x9fd40d6905ec525d!2zMTggxJAuIFRhbSBUcmluaCwgSG_DoG5nIFbEg24gVGjhu6UsIEhhaSBCw6AgVHLGsG5nLCBIw6AgTuG7mWksIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1664212142348!5m2!1svi!2s"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>