<div class="footer">
        <div class="footer_main">
            <div class="footer_content">
                <div class="footer_text">
                    <h4>Chính sách</h4>
                    <li><a href="#">Chính sách bảo mật</a></li>
                    <li><a href="#">Chính sách vận chuyển</a></li>
                    <li><a href="#">Chính sách đổi trả</a></li>
                </div>

                <div class="footer_text">
                    <h4>Hỗ trợ khách hàng</h4>
                    <li><a href="#">Kiểm tra đơn đặt hàng của bạn</a></li>
                    <li><a href="#">Đăng nhập</a></li>
                    <li><a href="#">Đăng kí</a></li>
                    <li><a href="#">Giỏ hàng</a></li>
                </div>

                <div class="footer_text">
                    <h4>Kết nối với chúng tôi</h4>
                    <li><a href=""><i class="bi bi-geo-alt-fill address"></i>  Ha noi , Viet Nam</a></li>
                    <li><a href=""><i class="bi bi-facebook face"></i>  1234@facebook.com</a></li>
                    <li><a href=""><i class="bi bi-telephone-fill phone"></i>  01235556485</a></li>
                    <li><a href=""><i class="bi bi-envelope-fill email"></i>  0123@gmail.com</a></li>
                </div>
            </div>
        </div>
        <div class="footer_copyright">
            Copyright@ 2022 belong to team Tien Vu
        </div>
    </div>