<header>
    <div class="nav_bar">
        <img src="/img/logo.jpg" alt="" class="logo">
        <ul id="ul_nav">
            <li><a href="/">Trang chủ</a></li>
            <li><a href="/ve-chung-toi">Về chúng tôi</a></li>
            <li><a href="/san-pham">Sản phẩm</a></li>
            <li><a href="/lien-he">Liên hệ</a></li>
            <li><a href="/tin-tuc">Tin tức</a></li>
        </ul>

        <form action="" method="post" autocomplete="off">
            <div class="container-content ">
                <div class="container-search ">
                    <div class="container-wrap search ">
                        <input type="text" name="tukhoa" id="tukhoa" placeholder="Nhập để tìm kiếm"
                            class="container-input" />
                        <i class="bi-search" id="search_icon"></i>
                    </div>
                </div>
            </div>
        </form>

        <div class="header_customer">
            <div class="icon">
                <i class="bi bi-heart love"></i>
                <a href="/cart"><i class="bi bi-cart2 cart margin_icon"></i></a>
                <div class="dropdown">
                    <i class="bi bi-person-circle user" id="user"></i>
                    {{!-- {{#each users}} --}}
                    {{#if session.User}}
                    <span>{{session.User.username}}</span>
                    <div class="drop_menu" id="drop_menu">
                        <li><a href="/logout">Đăng Xuất</a></li>
                    </div>
                </div>

                {{else}}
                <div class="dropdown">
                    <div class="drop_menu" id="drop_menu">
                        <li><a href="/login">Đăng nhập</a></li>
                        <li><a href="/register">Đăng kí</a></li>
                    </div>
                </div>
                {{/if}}
                {{!-- {{/each}} --}}


            </div>
        </div>

        <div class="list_icon">
            <i class="bi bi-list"></i>
        </div>
    </div>
</header>